.btn {
    @include text($satr, 400, 16px, 21.6px, #fff);
    padding: 16px 54px;
    border-radius: 62px;
    background-color: #000;
    border: none;
    width: 210px;
    height: 52px;
    text-decoration: none;
    @extend %center;
}

.btn2 {
    @include text($satm, 500, 16px, 21.6px, #000);
    text-decoration: none;
    width: 218px;
    height: 52px;
    border-radius: 62px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 13px 60px;
    @extend %center;
    @include for-phone{
        height: 46px;
        display: flex;
        width: 100%;
        font-size: 14px;
        line-height: 18.9px;
    }
}
