.hero-section {
    background-color: #f2f0f1;
    .container {
        display: flex;
        @include for-tablet {
            flex-direction: column;
            padding: 0 !important;
        }

        .second {
            padding: 0 !important;
            @include for-tablet {
                padding: 0 15px !important;
            }
        }
        .img {
            background-image: url(../../../assets/images/herobg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;

            @include for-tablet {
                height: 100vh;
            }
            @include for-phone {
                height: 440px;
            }
        }

        .hero-content {
            padding: 103px 0;
            @include for-phone {
                padding: 40px 0;
                padding-bottom: 0;
            }
            > p {
                width: 545px;
                @include for-phone {
                    width: 100%;
                }
            }

            h1 {
                font-family: $intb;
                font-size: 64px;
                @include text($intb, 700, 64px, 64px, #000);
               
                margin-bottom: 32px;
                @include for-phone {
                    width: 100%;
                    font-size: 36px;
                    line-height: 34px;
                }
            }
            p {
                @extend .p;
                @include for-phone {
                    font-size: 14px;
                }
            }
            a {
                @extend .btn;
                margin-bottom: 48px;

                @include for-phone {
                    width: 100%;
                }
            }
            .boxes {
                gap: 32px;
                @include for-phone {
                    justify-content: center;
                }
                h3 {
                    @include text($satb, 700, 40px, 54px, #000);
                    @include for-phone {
                        @include text($satb, 700, 24px, 32.4px, #000);
                        margin-bottom: 0;
                    }
                }
                p {
                    @include for-phone {
                        font-size: 12px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.brends {
    background-color: #000;
    padding: 42px 0;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 22px 0;

        li {
            img {
                height: 38px;
                @include for-tablet {
                    height: 23.25px;
                }
            }
        }
    }
}

.new,
.top {
    padding: 72px 15px !important;
    @include for-phone {
        padding: 40px 15px !important;
        padding-right: 0 !important;
    }

    h1 {
        @extend .heading;
        padding-bottom: 55px;
        @include for-phone {
            padding-bottom: 32px;
        }
    }
    .button-wiew {
        text-align: center;
        justify-content: center;
        display: flex;
        a {
            @extend .btn2;
        }
    }
    .mySwiper {
        width: 100%;
        height: 100%;
        .box {
            font-size: 18px;
            background: #fff;
            width: 23%;
            margin-bottom: 36px;
            @include for-tablet {
                width: 35%;
            }
            @include for-phone {
                width: 55%;
            }

            h6 {
                @extend .boxtext;
            }
            h3 {
                margin-top: 8px;
                @include text($satb, 700, 24px, 32.4px, #000);
                @include for-tablet {
                    font-size: 20px;
                    line-height: 27px;
                }
            }
            > img {
                display: block;
                width: 100%;
                height: 298px;
                object-fit: cover;
                border-radius: 20px;
                @media screen and (max-width: 400px) {
                    height: 200px;
                }
            }
        }
    }
}
.swiper-pagination {
    display: none !important;
}

.browse {
    .container {
        background-color: #f0f0f0;
        border-radius: 40px;
        h1 {
            @extend .heading;
            padding: 70px 0;
        }
        .cols {
            gap: 20px;
            display: grid;
            padding: 0 64px;
            padding-bottom: 76px;
            @include for-phone {
                padding: 0 24px;
                padding-bottom: 27px;
            }
            .boxes {
                gap: 20px;
                display: flex;
                @include for-phone {
                    flex-direction: column;
                }

                .box {
                    position: relative;
                    height: 289px;
                    gap: 20px;
                    background-color: #fff;
                    overflow: hidden;
                    border-radius: 20px;
                    @include for-phone {
                        height: 190px;
                    }
                    h4 {
                        position: absolute;
                        top: 25px;
                        left: 36px;
                        @include for-phone {
                            top: 16px;
                            left: 24px;
                        }
                    }
                    img {
                        width: 100%;
                        object-fit: cover;
                        transform: translate(20%, -25%);
                        @include for-tablet {
                            transform: scale(1.5) translate(20%);
                        }
                        @include for-phone {
                            transform: scale(1.5) translate(20%, -15%);
                        }
                    }
                }
            }
            .boxes:first-child {
                img {
                    transform: scale(2) translate(30%, 5%);
                }
            }
            .boxes:first-child .box:first-child {
                img {
                    transform: scale(-2, 2) translate(0, 5%);
                }
            }
        }
    }
}

.happy {
    padding-bottom: 200px !important;
    @include for-tablet{
        padding-bottom: 250px!important;
    }
    h1 {
        @extend .heading;
        text-align: start;
        padding-top: 80px;
    }
}

.happy {
    h1 {
        padding: 40px 0 !important;
    }
    .mySwiper {
        transform: translate(-300px);
        width: calc(100% + 300px);
        @include for-tablet {
            width: 100%;
            transform: translate(0);
            padding: 0 15px!important;;
        }
    }
    .box {
        padding: 28px 32px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        height: 239.58px;
        background: #fff;
        width: 22% !important;

        @include for-tablet {
            width: 45% !important;
        }
        @include for-phone {
            width: 100% !important;
        }
        p {
            @extend .p;
            font-size: 14px;
        }
        h6 {
            margin-top: 8px !important;
        }
    }
    .box:nth-child(1),
    .box:nth-child(5) {
        filter: blur(5px) !important;
        @include for-phone {
            filter: blur(0px)!important;
        }
    }
}

